/* styles.css */

body {
    color: aliceblue;
    background-color: #1f2937;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    text-align: center;
    height: 200vh;
    font-family: 'Roboto', sans-serif;
}


.header {
    border: 1px solid red;
    display: flex;
    padding: 0px 100px;
    margin: 0px;
}

.logo {
    height: 40px;
    width: auto;
    margin-right: auto;
}

ul {
    display: flex;
    gap: 20px;
}

li {
    list-style-type: none
}


a {
    color: aliceblue;
    text-decoration: none; /* no underline */
    }


.one {
    border: 1px solid red;
   /* background-color: rgb(24, 24, 24, 0.6); */
    padding: 0px 100px;
    flex: 3;
}



.two {
    border: 1px solid red;
    color: rgb(24, 24, 24);
    background-color: rgb(213, 218, 254);
    display: flex;
    flex-direction: column;
    padding: 0px 100px;
    flex: 3;
}

.bubbles {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.bubble {
    height: 120px;
    width: 100px;
    border: 1px solid red;
}

.three {
    border: 1px solid red;
    background-image: linear-gradient(90deg, rgb(10, 10, 180), rgb(63, 103, 222));
    padding: 0px 200px;
    flex: 2;
}

.four {
    border: 1px solid red;
    background-color: rgb(213, 218, 254);
    color: rgb(24, 24, 24);
    padding: 0px 200px;
    flex: 1;
}

.footer {
    border: 1px solid red;
}

/* colors 
rgb(35, 36, 37);    <dark grey
rgb(24, 24, 24);    <black
Dodgerblue;         <light blue
Royalblue;          <dark blue
background-image: linear-gradient(180deg, col1, col2); <gradient
.~class~:hover      <hover over effect
border-radius: 8px; <rounding corners
box-shadow:         <shadow for cards
Reflective surface  <not found yet
*/