/* styles.css */

body {
    color: aliceblue;
    background-color: #1f2937;
}

.logo {
    height: 40px;
    width: auto;
}

.bubble {
    height: 120px;
    width: 100px;
    border: 1px solid red;
}


/* colors 
rgb(35, 36, 37);    <dark grey
rgb(24, 24, 24);    <black
Dodgerblue;         <light blue
Royalblue;          <dark blue
.~class~:hover      <hover over effect
border-radius: 8px; <rounding corners
box-shadow:         <shadow for cards
Reflective surface  <not found yet
*/