/* styles.css */

body {
    color: aliceblue;
    background-color: #1f2937;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    text-align: center;
    height: 200vh;
    font-family: 'Roboto', sans-serif;
}


.header {
    display: flex;
    padding: 0px 100px;
    margin: 0px;
}

.logo {
    height: 40px;
    width: auto;
    margin-right: auto;
}

ul {
    display: flex;
    gap: 20px;
}

li {
    list-style-type: none
}

a {
    color: aliceblue;
    text-decoration: none;
    }


.one {
    padding: 0px 100px;
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.oneinf {
    width: 400px;
    height: 200px;
    text-align: left;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 18px;
    margin-bottom: 20px;
}

button {
    color: aliceblue;
    background-color: #3882f6;
    padding: 6px 18px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

img {
    border-radius: 8px;
}

#piccing {
    height: 400px;
    width: auto;
    /* In use: Photo by Piccinng from Pexels: https://www.pexels.com/photo/photo-of-skyline-at-night-3075993/*/
}



.two {
    color: rgb(24, 24, 24);
    background-color: rgb(213, 218, 254);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 100px;
    flex: 2.5;
    height: fit-content;
}

.bubbles {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    margin-bottom: 80px;
}

.info {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    padding-bottom: 40px;
}

.bubble {
    height: 200px;
    width: 200px;
}

    /* Photo by Aleksandar Pasaric: https://www.pexels.com/photo/photo-of-buildings-during-nighttime-2603464/ */
    /* Photo by Alotrobo: https://www.pexels.com/photo/two-person-walking-on-street-corner-1653079/ */
    /* Photo by Pixabay: https://www.pexels.com/photo/side-view-of-woman-in-illuminated-city-at-night-315191/ */
    /* Photo by Elijah O'Donnell: https://www.pexels.com/photo/unrecognizable-man-skateboarding-on-road-8704612/ */

    #aleks {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    #alotrobo {
        width: 200px;
        height: auto;
    }

    #pixabay {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    #elijah {
        width: 200px;
        height: auto;
    }

p {
    font-size: 16px;
    font-weight: 700;
}

.three {
    background-image: linear-gradient(90deg, #1f2937), rgb(63, 103, 222));
    padding: 0px 200px;
    flex: 2;
}

.quote {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 36px;
    font-weight: 100;
}

#quotename {
    align-self: flex-end;
    text-align: right;
}

.four {
    border: 1px solid red;
    background-color: rgb(213, 218, 254);
    color: rgb(24, 24, 24);
    padding: 0px 200px;
    flex: 1;
}

.footer {
    border: 1px solid red;
}

/* colors 
rgb(35, 36, 37);    <dark grey
rgb(24, 24, 24);    <black
Dodgerblue;         <light blue
Royalblue;          <dark blue
background-image: linear-gradient(180deg, col1, col2); <gradient
.~class~:hover      <hover over effect
border-radius: 8px; <rounding corners
box-shadow:         <shadow for cards
Reflective surface  <not found yet
*/